.header {
    position: relative;
    padding-top: 50px;    
}

.orange-decor {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 0;
}

.header__nav {
    display: grid;
    grid-template-columns: 3fr 7fr;
    justify-content: space-between;
}

.nav__content {
    display: grid;
    grid-template-columns: 4fr 2fr 1fr;
    z-index: 1;

    .nav__items{
        display: flex;        
        justify-content: space-around;
        list-style: none;
        padding: 0;

        .nav__item{
            
            a {
                text-decoration: none;
                color: $nav-color;
                font-family: "Google-sans";
                font-size: 17px;
                line-height: 100%;
                letter-spacing: 0%;
            }

            a:active {
                color: $orange;
            }
        }       
    }
}

.nav__item-point{
    position: relative;
}

.nav__item-point:active{
    color: $orange;
}

.nav__item-point:before{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: all 0.3s;                
    border-bottom: 2px solid $orange;
    opacity: 0;
    transform: scale(0, 1);
}

.nav__item-point:hover:before {
    opacity: 1;
    transform: scale(1, 1);
}      

.nav__subscription {
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    align-items: center;
}

.subscription-button {
    background-color: transparent;
    border: none;    
    color: $nav-color;
    font-family: "Google-sans";
    font-size: 17px;
    line-height: 100%;
    letter-spacing: 0%;
    border: 1px solid transparent;    
    cursor: pointer;

    &:hover {
        border: 1px solid $nav-color;
        border-radius: 5px;
        box-shadow: 0 4px 4px 0 rgba(0,0,0,0.05);
    }

    &:active {
        box-shadow: inset 0 4px 4px 0 rgba(0,0,0,0.05);
    }
}

.nav__languages {
display: flex;
justify-content: space-around;
}

.languages-select {
    border: none;
    background-color: transparent;
    cursor: pointer;

    &:hover {
        box-shadow: 0 4px 4px 0 rgba(0,0,0,0.05);
    }
}

.header__main {
    position: relative;
    margin-top: 50px;   
}

.header-content {
    width: 50%;
    z-index: 1;
    padding-top: 100px;
}

.header__main-content {
    margin: 0;
}

.header__main-image {
    position: absolute;
    top: 0;
    right:0px;
}

.header-content__title {
    margin: 0;
    font-family: "Poppins";
    font-size: 20px;
    font-weight: bold;
    color: $orange;
}

h1 {
    margin: 0;
    margin-top: 20px;
    font-family: "Volkhov";
    font-size: 84px;
    font-weight: bold;
    color: $h1color;
    line-height: 89px;
}

.header-content-decor {
    position: absolute;
    top: 230px;
    left: 260px;
    z-index: -1;
}

.header-content__text {
    width: 80%;
    margin-top: 25px;
    margin-bottom: 30px;
    font-family: "Poppins";
    font-size: 16px;
    line-height: 30px;
}

.button__origin {
    background-color: $yellow;
    color: white;
    border-radius: 10px;
    padding: 20px 50px;
    border: none;
    cursor: pointer;
    box-shadow: 0 0px 80px rgba(0,0,0,0.15),
    0 20px 35px #f1a50123;
    transition: color 0.5s, background 0.5s, border 0.5s, transform 0.3s;
    border: 1px solid transparent;

    &:hover {
    background-color: white;
    color: $yellow;    
    border: 1px solid $yellow;
    }

    &:active {
        transform: translateY(3px); 
    }

    span {
        font-family: "Google-san";
        font-size: 18px;
    }

}

.button__origin-orange {
    background-color: $orange;
    margin-left: 25px;

    &:hover {
        color: $orange;    
        border: 1px solid $orange;        
    }
}

.button-play-polygon {
    position: absolute;
    left: -52px;
    top: 4px;
    transition: transform 0.3s;
}

.button-play {
    position: relative;
    margin-left: 120px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    
    &:before {
        width: 52px;
        height: 52px;
        content: "";
        position: absolute;
        border: none;
        background-color: $orange;
        border-radius: 50%;
        top: -15px;
        left: -70px;
        transition: filter 0.3s, transform 0.3s;
        box-shadow: 0 20px 35px #df69512a;
    }

    span {
        font-family: "Poppins";
        font-size: 17px;
    }

    &:hover:before {
        filter: brightness(140%);    
    }

    &:active:before {
        transform: translateY(3px);     
    }
}

.button-play:active .button-play-polygon {
    transform: translateY(3px); 
}