section {
    margin-top: 150px;   
}

.category {
    position: relative;
}

.category-plus {
    position: absolute;
    top: 0;
    right: -70px;
}

.section__name {
    font-family: "Poppins";
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
}

.section__name-left {
    text-align: left;
}

h2 {
    font-family: "Volkhov";
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    color: $titlecolor;
}

.category__items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 40px;
    
}

.category-item {
    border-radius: 36px;
    cursor: pointer;
    background-color: white;    
    transition: box-shadow 0.3s;
    position: relative;

    &::before {
        position: absolute;
        content: "";
        z-index: -1;        
        bottom: -30px;
        left: -30px;
        background: url(../images/category-decor.png);
        width: 100px;
        height: 100px;
        opacity: 0;
    }
    &:hover {
        box-shadow: 0 100px 80px rgba(0,0,0,0.05);

        &:before {
            opacity: 1;
        }
    }
    
    img {
        width: 95px;
        height: 80px;
        overflow: hidden;
        object-fit: contain;
        display: flex;
        margin: 35px auto;
        text-align: center;
        
    }

    div{
        z-index: 2;
    }
}

.section-decor-item {
    position: absolute;
    bottom: -30px;
    z-index: 1;
    opacity: 0;    
}

.decor-item1 {
    left: -30px;
}

.decor-item2 {
    left: 275px;
}

.decor-item3 {
    left: 590px;
}

.decor-item4 {
    left: 900px;
}

.decor-item-visible {
    opacity: 1;
}

.category-item .flight {
    width: 120px;
    height: 100px;
    margin-bottom: 15px;
}

.category-item-title {
    font-family: "Open-sans";
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    
}

.category-item-content {
    font-family: "Poppins";
    font-size: 16px;
    text-align: center;
    margin: 15px 40px 40px 40px;
    line-height: 26px;
}

.destinations {
    margin-top: 100px;
}

.destinations-decor {
    position: absolute;
    top: 140px;
    right: -65px;
    z-index: -1;
}

.destinations__name {
    font-family: "Poppins";
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    margin-top: 125px;
    margin-bottom: 10px;
}

.destination__items {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    column-gap: 35px;
    height: 450px;
}

.destination__item {
    position: relative;
    display: inline-block;
    box-shadow: 0 100px 80px rgba(0,0,0,0.05);
    border-radius: 24px;    
}

.destination-background {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    border-radius: 24px;
    overflow: hidden;
    object-fit: cover;
    background-repeat: no-repeat;
}

.destination1 {
    background-image: url("../images/Rome1.png");
}

.destination2 {
    background-image: url("../images/London1.jpg");
}

.destination3 {
    background-image: url("../images/Europe1.png");
}

.destination-content {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 130px;
    background-color: white;
    border-radius: 0 0 24px 24px;
    display: inline-block;
    width: 100%;
}

.destination-top {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    margin-bottom: 20px;
}

.destination-place,
.destination-price,
.destination-term {
    font-family: "Poppins";
    font-size: 18px;
    font-weight: 500;
}

.destination-term {
    font-size: 16px;
}

.destination-place {
    margin-left: 20px;
}

.destination-price {
    margin-right: 20px;
}

.destination-vector {
    position: absolute;
    left: 20px;
}

.destination-term {
    margin-left: 55px;
}