@media screen and (max-width: 1200px) {
    .container {
        width: 1000px;
    }

    .header-content-decor {
        top: 310px;
        left: -35px;
    }

    .trip {
        top: 200px;
    }
}

@media screen and (max-width: 992px) {
    .container {
        width: 100%;
    }

    .header__nav {
        grid-template-columns: 1fr 8fr;        
    }

    .header__main-image {
        width: 50%;
    }

    h1 {
        font-size: 50px;
        line-height: 70px;
    }

    .header-content-decor {
        display: none;
    }

    .header__main-content {
    padding-top: 0;
    }

    .category-plus {
        right: 0;
    }

    .category__items {
        column-gap: 10px;    
    }
    .reviews {
        h2 {
            font-size: 40px;
        }
    }

    .destinations-decor {
        display: none;
    }

    .subscribe__decor {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .header__main {
        padding-right: 30px;
    }
    
    .header__nav {
        grid-template-columns: 2fr 8fr;        
    }

    .header__main-image {
        display: none;
    }

    .header-content {
        width: 100%;
    }

    .header-content__text {
        width: 100%;
    }

    .category-plus {
        display: none;
    }

    .category__items {
        column-gap: 10px;
    }

    .steps__items {
        width: 100%;
    }

    .trip {
       position: relative;
       top: 0;
       right: 0;
       width: 400px;
    }

    .trip__img {
        margin: 0;
        display: block;
        position: relative;
        top:50%;
        left:50%;
        transform: translate(-50%, 10%);
    }

    .trip__name {
        margin-top: 30px;
    }

    .ongoing {
        top: 195px;
        right: -120px;
    }

    .trip__buttons {
        margin-bottom: 20px;
    }

    .trip__calc {
        padding-bottom: 20px;
    }

    .trip__heart {
        bottom: 20px;
    }

    .subscribe__text {
        font-size: 25px;
        line-height: 30px;
    }

    .footer {
        grid-template-columns: 3fr 5fr;;
    }

    .footer__logo {
        margin-left: 0;
        margin-right: 30px;
    }

    .footer__outbound {
        margin-top: 30px;
    }

    .category__items {
        grid-template-columns: 1fr 1fr;
    }

    .destination__items {
        grid-template-columns: 1fr 1fr;
        row-gap: 30px;
    }

    .hamburger {
        display: inline-block;
    }

    .nav__logo {
        margin-left: 70px;
    }

    .header__nav {
        position: fixed;
        background-color: #FFF1DA;
        z-index: 5;
        padding-top: 20px;
    }

    .nav__content .nav__items {
        z-index: 7;
        display:block;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: #bdbdbd;
        width: 100%;
        height: 100%;
        list-style: none;
        padding-left: 80px;
        padding-top: 10px;
        transition: all 0.3s;
        margin: 0;
        opacity: 0;
        visibility: hidden;
    }

    .nav_phone.nav_phone {
        opacity: 1;
        visibility: visible;
        transition: opacity 0.3s, visibility 0.3s;
    }

    .nav__content .nav__items .nav__item a {
        color: white;
        font-size: 25px;
        line-height: 200%;               
    }

     .header {
        padding-top: 0;
        .container {
            padding: 0;
        }
    }

    .header__main {
        padding-left: 30px;
        margin-top: 0;
        padding-top: 100px;
    }

    .reviews {
        display: block;
    }

    .reviews__items {
        margin-top: 75px;
    }

    .slider__arrows {
        z-index: 2;
    }

    .slider__buttons {
        bottom: -45px;
    }
}


@media screen and (max-width: 576px) {
    

    h1 {
        text-align: center;
        font-size: 30px;
        line-height: 35px;
    }

    .button-play-wrapper {        
        margin-left: 10px;
    }

    .button-play {       
        margin-left: 70px;
    }

    section {
        margin-top: 70px;
    }

    .category__items {        
        grid-template-columns: 1fr;
    }

    .destinations {
        margin-top: 30px;
    }

    .destination__items {
        grid-template-columns: 1fr;
    }

    .trip {
        width: 300px;
    }

    .subscribe__text {
        font-size: 20px;
        margin-top: 30px;        
    }

    .subscription__form {
        margin: 20px 0;
    }

    .ongoing {
        display: none;
    }

    .reviews {
        grid-template-columns: 1fr;
    }

    .slider__buttons {
        bottom: 20px;
        left: 50%;
    }
    
    .reviews__items .review {
       top: 0px;
    }

    .review-text {
        line-height: 25px;
        font-size: 12;
    }
       
    .first.first {
        top: -50px;
    }

    .slider__arrows {
        z-index: 2;
    }

    .input-form input::placeholder {
        text-align: center;
    }

    .subscription__input {
        
        padding: 0;
    }

    .subscribe__mail {
        display: none;
    }

    .logos {
        margin-top: 250px;
    }
    
    footer {
        padding-top: 70px;
    }

    .footer {
        grid-template-columns: 1fr;        
    }    
}
   
@media screen and (max-width: 450px) {
    .f-nav {
        grid-template-columns: 1fr 1fr;
    }

    .header__nav {
        grid-template-columns: 1fr 1fr;
        width: 100%;
        
    }

    .nav__logo {
        margin-left: 50px;
    }

    .nav__content {
        
        grid-template-columns: 1fr 1fr;
    }

    .nav__subscription {
        flex-direction: column;
    }

    
}