.reviews {
    position: relative;
    display: grid;
    grid-template-columns: 35% 60% 5%;
    min-height: 300px;

    h2 {
        text-align: left;
        text-transform: capitalize;        
    }
}
.reviews__name {
    text-align: left;
}

.reviews__items {
    position: relative;
    height: 350px;
    
    .review {
        position: absolute;
        top: 80px;
        right: 0px;
        background-color: white;
        border-radius: 10px;
        border: 1px solid transparent;       
        z-index: 1;
        width: 90%;
        border: 1px solid #F7F7F7;
        transition: all 1s;       

        img {
            position: absolute;
            width: 70px;
            height: 70px;
            border-radius: 50%;
            overflow: hidden;
            object-fit: cover;
            top: -30px;
            left: -30px;
        }
    }

    .first {
        top: 0px;
        left: 0;
        box-shadow: 20px 20px 150px rgba(0, 0, 0, 0.082);
        z-index: 2;        
        transition: all 5s;        
    }

    .new {
        box-shadow: 20px 20px 150px rgba(0, 0, 0, 0.082);
        z-index: 2;        
        transform: translate(-50px, -80px);
        transition: z-index 0.3s, transform 5.5s;
        
    }

}

.review-content {
    margin: 45px 70px 25px 35px;
    font-size: 16px;
    font-weight: 500;    
}

.review-text {
    text-align: justify;
    line-height: 32px;
    max-height: 100px;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}

.review-autor {
    margin-top: 35px;
    font-size: 18px;
    font-weight: 600;
}

.rewiew-location {
    font-size: 14px;
}

.slider__arrows {
    position: absolute;
    top: 50%;
    right: 0;
    display: flex;
    flex-direction: column;
}

.slider__arrow {
    
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: none;
    cursor: pointer;    
}

.slider__arrow_top {
   top: 115px;
}

.slider__arrow_bottom {
    top: 180px;
}

.slider__arrow:before {
    position: absolute;
    content: "";
    width: 15px;
    height: 15px;
    border-top: 2px solid #BCB7C2;    
    cursor: pointer;
}

.slider__arrow_top:before {
    border-left: 2px solid #BCB7C2;
    transform: rotate(44deg);
}

.slider__arrow_bottom:before {
    border-right: 2px solid #BCB7C2;
    transform: rotate(133deg);
}

.slider__arrow_top:hover:before {
    border-top: 2px solid #3E2E4D;
    border-left: 2px solid #3E2E4D;
}

.slider__arrow_bottom:hover:before {
    border-top: 2px solid #3E2E4D;
    border-right: 2px solid #3E2E4D;
}

.slider__buttons {
    display: flex;
    position: absolute;
    bottom: 0;
    left: 35px;
    transform: translate(-50%,-50%);
}

.slider__button {    
    display: flex; 
    margin: 10px;
    padding: 3px;
    width: 12px;
    height: 12px;
    background-color: #BCB7C2;
    border: none;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.slider__button:hover {
    background-color: #3E2E4D;
}

.slider__button_active {
    background-color: #3E2E4D;
}